.containerHome {
  padding: 40px 139px;
  display: flex;
  flex-direction: column;

  .headerText {
    font-family: Stem;
    font-weight: 500;
    font-size: 40px;
    margin: {
      top: 0;
      bottom: 40px;
    }
  }
}