.containerHome {
  padding: 40px 139px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 40px;

  .cardContainer {
    display: flex;
    flex-direction: row;
    position: relative !important;
    gap: 40px
  }

  .headerText {
    font-family: Stem;
    font-weight: 500;
    font-size: 40px;
    color: var(--text-color);
    margin: {
      top: 0;
      bottom: 0px;
    }
  }
}

@media (max-width: 1080px) {
  .containerHome {
    padding: 50px 25px;
    position: relative;

    .cardContainer {
      display: flex;
      flex-direction: column;
      position: relative !important;
    }
  }
}

@media (max-width: 475px) {
  .containerHome {
    .headerText {
      font-size: 30px;
    }
  }
}