.containerProfile {
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
}

.myConsultationList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px
}

@media (max-width: 1080px) {
  .containerProfile {
    padding: 50px 25px;
  }
}

