.consultationMeContainer{
  padding: 40px;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .consultationMeHead {
    margin-top: 76px;
    font-family: Stem;
    font-weight: 500;
    font-size: 36px;
  }

  .consultationMeContent {
    display: flex;
    flex-direction: row;
    gap: 24px;

    .consultationMeForm {
      width: 110%;
      padding: 23px;
      height: 214px;
      background-color: white;
      border-radius: 15px;

      .consultationMeFormInner {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .consultationMeFormHead {
          font-family: Stem;
          font-weight: 500;
          font-size: 24px;
          margin-bottom: 20px;
          margin-top: 0;
        }
      }
    }

  }
}

.modalConsultationHead{
  font-family: Stem;
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 0;

}

.modalConsultationList {
  background-color: #F5F5F5;
  border-radius: 10px;
  overflow: hidden;

  .modalConsultationTime, .modalConsultationHeadItem {
    font-family: Stem;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .modalConsultationTime {
    padding: 10px;
  }

  .modalConsultationHeadItem {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E3E3;
    margin: 0;
    padding: 5px;
  }
  .modalConsultationBody {
    padding: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .modalStudentsListItem {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: #FFFFFF;
      padding: 10px;
      align-items: center;
      border-radius: 10px;

      .modalStudentsListItemFirstBlock {
        display: flex;
        flex-direction: row;
        gap: 10px;
        .modalStudentsListItemProfileImage {
          border-radius: 50%;

        }
      }
    }
  }
}
