.containerDeansConsultations {
  padding: 40px 139px;
  display: flex;
  flex-direction: column;
}


.employeeList {
  display: flex;
  gap: 26px;
}

.deanSmallCardContainer {
  padding: 12px;
  width: 412px;
  height: 67px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  .innerDeanSmallCardContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;

    .employeeDeanImage {
      width: 67px;
      height: 67px;
      border-radius: 50%;
    }

    .textDeanContainer {
      display: flex;
      flex-direction: column;
      gap: 18px;

      .employeeDeanFIO {
        font-family: Stem;
        font-weight: 500;
        font-size: 22px;
        color: black;
        text-decoration: none;
      }

      .employeeDeanSubRole {
        font-family: Stem;
        font-weight: 500;
        font-size: 18px;
        color: #808080;
      }
    }
  }
}