.dateRangePickerForm {
  width: 100%;
  padding: 20px;
  height: 220px;
  background-color: var(--redirect-card-color);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

  .dateRangePickerFormInner {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .dateRangePickerFormHead {
      font-family: Stem;
      font-weight: 500;
      font-size: 24px;
      margin-bottom: 20px;
      margin-top: 0;
      color: var(--text-color);
    }

    /* Стили для двух полей даты со стрелкой */
    .date-picker-wrapper {
      position: relative;
      margin-bottom: 16px;

      .date-range-picker {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        cursor: pointer;
      }

      .date-fields-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        .date-field {
          flex: 1;
          height: 48px;
          border: 3px solid #D9D9D9;
          border-radius: 8px;
          display: flex;
          align-items: center;
          padding: 0 15px;
          position: relative;
          overflow: hidden;

          .calendar-icon {
            color: #00B265;
            font-size: 20px;
            margin-right: 10px;
          }
          
          .date-text {
            font-family: Stem;
            font-size: 16px;
            color: #808080;
            width: 100%;
            text-align: center;
          }
        }
        
        .arrow-separator {
          font-size: 25px;
          color: #999;
          margin: 0 12px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .get-schedule-button {
      background-color: var(--redirect-card-color);
      color: var(--text-color);
      border: 2px solid var(--text-color);
      border-radius: 25px;
      height: 48px;
      width: 100%;
      font-weight: 500;
      font-size: 16px;
      font-family: Stem;
      
      &:hover {
        background-color: var(--redirect-card-color);
        border-color: #00B265;
        color: #00B265;
      }
    }
  }
}

@media (max-width: 1440px) {
  .dateRangePickerForm {
    width: auto;
    height: auto; /* высота зависит от контента */
    min-height: auto
  }
}