.profileCard {
  width: calc(100% - 132px);
  padding: 66px;
  background-color: var(--profile-card-color);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  gap: 98px;
  margin-bottom: 105px;

  .profileImage {
    height: 128px;
    width: 128px;
    border-radius: 50%;
  }

  .profileFIO {
    font-family: Stem;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 3px;
    color: var(--text-color);
  }

  .profileSubRole {
    font-family: Stem;
    font-weight: 500;
    font-size: 24px;
    color: var(--text-color);
  }
}