.containerDeansConsultations {
  padding: 40px 139px;
  display: flex;
  flex-direction: column;
  position: relative;

  .containerDeansHead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .consultationMeHeadSearch {
      width: 404px;
      height: 65px;
    }

    .consultationDeansHeadText {
      font-family: Stem;
      font-weight: 500;
      font-size: 36px;
    }
  }
}

.filtersButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 178px;
  height: 45px;
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 55px;

  .filtersButtonText {
    font-family: Stem;
    font-weight: 500;
    font-size: 25px;
    color: #808080;
  }
}

.employeeList {
  display: flex;
  gap: 26px;
  flex-wrap: wrap;
}
