.searchInput {
  width: 400px;
  height: 65px;
  font-family: Stem;
  font-weight: 500;
  font-size: 22px;
  color: #808080;
}

.icon {
  font-size: 25px;
  margin-right: 10px;
  margin-left: 5px;
  color: #00CC73;
}
